

.datos{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.credenciales{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}
input:focus {
    outline: none;
    border-color: #480c0c;
    box-shadow: 0 0 0 3px #480c0c;
}

.error{
    color:#7a0f0f; /*vino oscuro*/
    font-size: 1rem;
    background-color: #ffd6d6;
    margin-top: 4px;
}

body {
    margin: 0;  
    font-family: 'Inter', sans-serif;
    /*background: linear-gradient(135deg, #632121, #7a1c1c);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.contenedor {
    width: 900px;
}

.card {
    display: flex;
    background: white;
    border-radius: 15px;
    border: 2px solid #480c0c;
    overflow: hidden;
    box-shadow: 0 15px 40px darkgray;
}
.lado-izquierdo {
    width: 40%;
    background: linear-gradient(160deg, #8a2121, #480c0c);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.lado-izquierdo img {
    width: 50%;
    height: 50%;
}

/* Lado derecho (formulario) */
.lado-derecho {
    width: 60%;
    padding: 40px;
}

button {
    background-color: #591e1e;;
    margin-top: 15px;
    padding: 14px;
    font-size: large;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

#formulario section h1{
    color:#591e1e;
}
#formulario section h2{
    color:#591e1e;
}