

.datos{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.credenciales{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: #7a0c0c;
    box-shadow: 0 0 0 3px rgba(122,12,12,0.15);
}

.error{
    color:#7a0f0f;
    font-size: 0.9rem;
    margin-top: 4px;
}

body {
    margin: 0;  
    font-family: 'Inter', sans-serif;
    /*background: linear-gradient(135deg, #632121, #7a1c1c);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.contenedor {
    width: 900px;
}

.card {
    display: flex;
    border-radius: 15px;
    border: 2px solid #480c0c;
    overflow: hidden;
    box-shadow: 0 15px 40px white;
}
.lado-izquierdo {
    width: 40%;
    background: linear-gradient(160deg, #8a2121, #480c0c);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.lado-izquierdo img {
    width: 50%;
    height: 50%;
}

/* Lado derecho (formulario) */
.lado-derecho {
    width: 60%;
    padding: 40px;
    background-color: white;
}

button {
    background-color: #480c0c;;
    margin-top: 15px;
    padding: 14px;
    font-size: large;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}
button:hover {
  background: #8c0f0f;
}

#formulario section h1{
    color:#591e1e;
}
#formulario section h2{
    color:#591e1e;
}